<div class="container">
  <% if !@groups.blank? %>
    <p class="my_group"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  My Group</p>
    <div id="search_result">
      <div class="row group_elements">
        <%= render partial: "group" %>
      <div class="group_partial col-sm-3 col-xs-12">
        <div class="create_group">
         <a data-toggle="modal" href="#myModal">Create New Group</a>
        </div>
      </div>
      </div>
    </div>
  <% elsif @groups.blank? %>
    <div class="first_alert">
      <p>Shares!は、グループ間で読みたい記事やお店の情報をシェアできるサービスです。</p>
      <p>まずは、<a data-toggle="modal" href="#myModal">グループを作成</a>するか、すでにグループに所属している友人にグループに招待してもらいましょう！</p>
    </div>
  <% end %>

  <!-- グループ追加モーダル開始 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">グループを追加する</p>
        </div>
        <div>
          <%#= image_tag'group.png' %>
        </div>
       		<%= form_for @group do |f| %>
            <div class="modal-body">
      		    <%= f.text_field :name, autofocus: true, :placeholder => 'グループ名', html: {class: "form-controll" } %>
      		    <%#= f.file_field :avatar, html: {class: "form-controll" } %>
      		  </div>
            <div class="modal-footer">
      		    <%= f.submit "追加" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

  <!-- 検索画面モーダル開始 -->
  <div class="modal fade" id="myModal_search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">キーワードで検索する</p>
        </div>
      <%= form_tag("/searches/search", method: :get) do %>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text", autofocus="autofocus", placeholder="キーワードで検索", name="title", html: {class: "form-controll">
        <label><input type="submit" value="" id="search"></label>
      <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

  <div class="plus_btn">
    <a data-toggle="modal" href="#myModal"><%= image_tag'plus.png' %></a>
  </div>
</div>

