
<div class="container user_container">
  <div class="header_title">
    <p>メンバー一覧</p>
  </div>
<!--   	<div class="user clearfix">
    	<%#= render partial: "user", collection: @users %>
  	</div> -->
    <div class="group_member">
      <li class="back_to_group">
        <%= link_to 'ページ一覧へ', "/groups/#{@group.id}/pages" %>
      </li>
      <li class="member_show">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
      <li class="member_invite">
        <%= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li>
    </div>
    <div class="sp_group_member">
      <li class="back_to_group col-xs-4">
        <%= link_to 'ページ一覧へ', "/groups/#{@group.id}/pages" %>
      </li>
      <li class="member_show col-xs-4">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
      <li class="member_invite col-xs-4">
        <%= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li>
    </div>

  	<% @users.each do |user| %>
    <div class="user clearfix">
	  	<div class="user_partial_index col-sm-4">
		<div class="user_image">
			<% if user.fb_image.blank? %>
				<%= image_tag("#{user.avatar(:thumb)}") %>
			<% else %>
				<%= image_tag("#{user.fb_image}") %>
			<% end %>
		</div>
		<div class="user_name"><%= user.nickname %></div>

	   	<%= button_to '削除する', "/groups/#{@group.id}/users/#{user.id}", method: :delete, class: "user_delete" %>
		</div>
	</div>
  	<% end %>
	<!-- 検索画面モーダル開始 -->
	<div class="modal fade" id="myModal_search">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button class="close" data-dismiss="modal">&times;</button>
	      <p class="modal-title">キーワードで検索する</p>
	    </div>
	  <%= form_tag("/searches/search", method: :get) do %>
        <i class="glyphicon glyphicon-search"></i>
	    <input type="text", autofocus="autofocus", placeholder="キーワードで検索", name="title", html: {class: "form-controll">
	    <label><input type="submit" value="" id="search"></label>
	  <% end %>
	  </div>
	</div>
	</div>
	<!-- モーダル終了 -->
</div>
