<div class="container user_container">
  <div class="header_title">
    <p>メンバー追加</p>
  </div>

    <div class="group_member">
      <li class="back_to_group">
        <%= link_to 'ページ一覧へ', "/groups/#{@group.id}/pages" %>
      </li>
      <li class="member_show">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
      <li class="member_invite">
        <%= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li>
    </div>
    <div class="sp_group_member">
      <li class="back_to_group col-xs-4">
        <%= link_to 'ページ一覧へ', "/groups/#{@group.id}/pages" %>
      </li>
      <li class="member_show col-xs-4">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
      <li class="member_invite col-xs-4">
        <%= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li>
    </div>
  <!-- <p class="search_result">検索結果</p> -->
  <% @users.each do |user| %>
    <div class="user clearfix">
    <div class="user_partial_invite col-xs-4">
      <div class="user_image">
        <% if user.fb_image.blank? %>
          <%= image_tag("#{user.avatar(:thumb)}") %>
        <% else %>
          <%= image_tag("#{user.fb_image}") %>
        <% end %>
      </div>
      <div class="user_name"><%= user.nickname %></div>
      <%= form_tag("/groups/#{@group.id}/users/add", method: :post) do %> <!-- userのidとgroupのidを連携 -->
        <%= hidden_field_tag(:user_id, user.id) %>
        <%= submit_tag("追加する") %>
      <% end %>
    </div>
    </div>
  <% end %>

  <!-- 検索画面モーダル開始 -->
  <div class="modal fade" id="myModal_search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">キーワードで検索する</p>
        </div>
      <%= form_tag("/searches/search", method: :get) do %>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text", autofocus="autofocus", placeholder="キーワードで検索", name="title", html: {class: "form-controll">
        <label><input type="submit" value="" id="search"></label>
      <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

  <!-- ユーザー検索モーダル開始 -->
  <div class="modal fade" id="user_search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">ユーザーを検索する</p>
        </div>
  <%= form_tag("/groups/#{@group.id}/users/invite", method: :get) do %>
    <div class="user_keyword">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text", placeholder="ユーザー名を入力", name="nickname">
      <input type="submit" value="" id="search">
    </div>
  <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

<!--   <div class="plus_btn">
  <a data-toggle="modal" href="#user_search"><%#= image_tag'plus.png' %></a>
  </div> -->

</div>
