
<div class="page_partial col-sm-3 col-xs-12">
  <a href="<%= page.url %>" target="_blank" class="page_page" style="background-image: url(<%= page.image_url %>); background-size: cover; background-position: center; ">
    <div class="page_title">
      <p><%= page.title %></p>
    </div>
      <div class="page_avatar_image">
        <% if page.user.fb_image.blank? %>
          <%= image_tag("#{page.user.avatar(:small)}") %>
        <% else %>
          <%= image_tag("#{page.user.fb_image}") %>
        <% end %>
      </div>
      <li class="page_delete">
      <%= link_to "/groups/#{@group.id}/pages/#{page.id}", method: :delete do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color: white;"></span>
      <% end %>
      </li>
  </a>
</div>

