<div class="container">
<!--   <div class="group_member">
    <li class="col-xs-6">
      <%#= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
    </li>
    <li class="col-xs-6">
      <%#= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
    </li>
  </div> -->
  <div class="header_title">
    <%= @group.name %>
  </div>
    <div class="group_member">
      <li class="back_to_group">
        <a href="/groups/">My Groupへ</a>
        <%#= link_to 'グループ一覧', "/groups/", { :class => "back_to_group" } %>
      </li>
      <li class="member_show">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
<!--       <li class="member_invite">
        <%#= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li> -->
    </div>
    <div class="sp_group_member">
      <li class="back_to_group col-xs-4">
        <a href="/groups/">My Groupへ</a>
        <%#= link_to 'グループ一覧', "/groups/", { :class => "back_to_group" } %>
      </li>
      <li class="member_show col-xs-4">
        <%= link_to 'メンバー一覧', "/groups/#{@group.id}/users" %>
      </li>
<!--       <li class="member_invite col-xs-4">
        <%#= link_to 'メンバー追加', "/groups/#{@group.id}/users/invite/" %>
      </li> -->
    </div>
  <div class="row page_elements">
    <%= render partial: "page", collection: @pages %>
    <%#= paginate @pages %> <!-- ページネーション用 -->
  </div>

  <% if @pages.blank? %>
    <div class="first_alert">
      <p>グループでシェアする<a data-toggle="modal" href="#myModal">ページを保存しましょう！</a></p>
      <p>ページの保存は下の＋ボタンからできます。</p>
    </div>
  <% end %>

  <!-- モーダル開始 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">ページを保存する</p>
        </div>
        <%= form_for [@group, @page] do |f| %>
          <div class="modal-body">
              <%= f.text_field :url, autofocus: true, :placeholder => 'http://...', html: {id: "modalTitle"}  %>
              <script>document.getElementById("modalTitle").focus()</script>
          </div>
          <div class="modal-footer">
              <%= f.submit "保存" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

  <!-- 検索画面モーダル開始 -->
  <div class="modal fade" id="myModal_search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">キーワードで検索する</p>
        </div>
      <%= form_tag("/searches/search", method: :get) do %>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text", autofocus="autofocus", placeholder="キーワードで検索", name="title", html: {class: "form-controll"} >
        <label><input type="submit" value="" id="search"></label>
      <% end %>
      </div>
    </div>
  </div>
  <!-- モーダル終了 -->

<!--
  <div>
  <%#= form_for [@group, @page] do |f| %>
    <h3>
      ページを追加する
    </h3>
    <%#= f.text_field :url, autofocus: true %>
    <%#= f.submit "追加" %>
  <%# end %>
  </div> -->
  <div class="plus_btn">
  <a data-toggle="modal" href="#myModal"><%= image_tag'plus.png' %></a>
  </div>
</div>