<!DOCTYPE html>
<html>
  <head>
    <title>Shares</title>
    <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="wide_screen clearfix">
    <div class="row">
    <div class="message_wrapper col-sm-6 col-xs-12">
      <div class="message">
        <div><h1>Shares!</h1></div>
        <div class="service_message">
          <p>
            友達、同僚との情報共有に困ったことありませんか？<br>
            Shares!を使って、スムーズな情報共有を楽しみましょう。<br>
          </p>
        </div>
      </div>
    </div>
    <div class="devise_wrapper col-sm-6 col-xs-12">
      <div class="devise_container">
          <div class="mail_login">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="form-group form_btn">
                <%= f.submit "ログイン" %>
              </div>
            <% end %>
          </div>

          <div class="facebook_login">
          <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <%= image_tag 'https://www.vetshq.com/rails/assets/facebook-login-button-0edd7189f09e073f6dd098a55cbab45b.png' %>
          <% end %>
          </div>

          <div class="devise">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>

    <footer class="footer_container">
      <!-- <p>copyright2015</p> -->
    </footer>

  </body>
</html>